.cl-test-result-count-summary {
  >span {
    padding: 2px 5px;
    color: black;
    font-weight: bold;
  }

  &>:not(:last-child) {
    margin-right: 10px;
  }

  .pass {
    background-color: $green-color;
  }

  .fail {
    background-color: $red-color;
  }

  .skip {
    background-color: #aaa;
  }
}
