@mixin header {
  >.header {
    padding: 5px;
    border-bottom: $border;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    min-height: 39px; // Empirically measured when nav is present
    flex-shrink: 0;

    .left {
      button {
        position: relative;

        .has-unseen-indicator {
          width: 8px;
          height: 8px;
          position: absolute;
          top: -2px;
          right: -2px;
          border-radius: 5px;
          background-color: $red-color;
        }
      }
    }

    .middle {
      align-self: center;

      .viewport-info-bar {
        align-self: center;
        display: flex;

        .dimensions-seperator {
          margin-left: 5px;
          margin-right: 5px;
          display: flex;
          align-items: center;
        }

        input {
          background-color: $bg-color;
          border: $border;
          border-radius: 0px;
          width: 50px;
          color: $text-color;
          padding: 2px 5px;

          -moz-appearance: textfield;

          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      input {
        cursor: pointer;
      }

      .header-buttons {
        align-self: stretch;

        button {
          height: 100%;
        }

        .unlock-viewport-button {
          padding: 5px 8px;

          &.active {
            color: $link-color;
          }
        }

        .toggle-collapse-button {
          padding: 5px 10px;
        }
      }
    }
  }
}
