@mixin props {
  .props {
    overflow: auto;
    padding: 5px;
    flex-grow: 1;

    .prop-modifiers {
      .reset-button {
        margin-bottom: 10px;
        border: 1px solid $bg-color-m7;
      }

      .prop-modifier {
        margin-bottom: 10px;

        &.number-slider {
          label {
            display: inline-block;
            margin-bottom: 10px;
            color: $text-color-m10;
          }

          .rc-slider {
            max-width: 400px;
            width: calc(100% - 40px);
            margin-left: 5px;
  
            .rc-slider-handle {
              div {
                user-select: none;
                position: absolute;
                top: 17px;
                left: -4px;
                padding: 2px 5px;
                background-color: $bg-color-m7;
                border-radius: 3px;
              }
            }
          }
        }
      }
    }
  }
}
