@mixin props {
  .props {
    overflow: auto;
    padding: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    .cl-h-divider {
      display: none;
    }
    
    @media only screen and (max-width: $tablet-max-width) {
      display: block;

      .cl-h-divider {
        display: block;
      }

      .cl-v-divider {
        display: none;
      }
    }

    .prop-modifiers {
      flex-basis: 50%;

      .reset-button {
        margin-bottom: 10px;
        border: 1px solid $bg-color-m7;
      }

      .prop-modifier {
        margin-bottom: 10px;

        &.number-slider {
          label {
            display: inline-block;
            margin-bottom: 10px;
            color: $text-color-m10;
          }

          .rc-slider {
            max-width: 400px;
            width: calc(100% - 40px);
            margin-left: 5px;
            margin-bottom: 35px;
  
            .rc-slider-handle {
              div {
                user-select: none;
                position: absolute;
                top: 17px;
                left: -4px;
                padding: 2px 5px;
                background-color: $bg-color-m7;
                border-radius: 3px;
              }
            }
          }
        }
      }
    }
  }
}
