@import '../colors.scss';

.cl-typed-icon {
  color: #fff;
  font-size: 22px;

  &.success {
    color: $green-color;
  }

  &.warn {
    color: $yellow-color;
  }

  &.error {
    color: $red-color;
  }

  &.info {
    color: $blue-color;
  }
}
