.cl-severity-indicator {
  position: relative;
  width: 80px;
  height: 15px;

  >div {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 3px;
  }

  &.severity-0>div {
    background-color: $yellow-color;
  }
  &.severity-1>div {
    background-color: orange;
  }
  &.severity-2>div {
    background-color: $red-color;
  }
  &.severity-3>div {
    background-color: $red-color;
  }
}
