@import '../common/borders.scss';

.exh-header {
  width: 100%;
  padding: 5px;
  border-bottom: $border;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 22px;
  }

  .right {
    display: flex;
    align-items: center;

    .about {
      margin-right: 10px;
    }

    button {
      padding: 4px 8px;
    }
  }
}
