@import '../common/borders.scss';

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.exh-header {
  width: 100%;
  padding: 5px;
  border-bottom: $border;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 22px;
  }

  .right {
    display: flex;
    align-items: center;

    .build-statuses {
      margin-right: 15px;

      span {
        margin-left: 15px;
      }

      i {
        margin-left: 5px;

        &.fa-check {
          color: $green-color;
        }
      }
    }

    .intercom {
      padding: 6px;
      display: flex;

      .not-connected-icon {
        color: $red-color;
        position: relative;
        width: 20px;
        height: 1em;

        i {
          position: absolute;
        }

        .fa-plug {
          top: 0;
          left: 0;
        }

        .fa-xmark {
          bottom: -10px;
          right: 0;
        }

        .fa-spinner {
          color: #888;
          right: -6px;
          top: -6px;
          font-size: 12px;
        }
      }

      &.connected {
        .fa-plug {
          color: $green-color;
        }
      }

      .cl-tooltip {
        .cl-success-icon, .cl-error-icon {
          margin-right: 5px;
        }
      }
    }

    .about {
      .info-button {
        &.active {
          color: $link-color;
        }
      }

      .tooltip {
        z-index: 1000;
        background-color: $bg-color-m7;
        border: $border;
        border-radius: $border-radius;
        padding: 5px;

        opacity: 0;
        animation: fade-in 200ms ease-out forwards;

        .arrow, .arrow::before {
          position: absolute;
          width: 8px;
          height: 8px;
          background: inherit;
          border-top: $border;
          border-left: $border;
          z-index: 999;
        }

        .arrow {
          visibility: hidden;
        }

        .arrow::before {
          visibility: visible;
          content: '';
          transform: rotate(45deg);
        }

        &[data-popper-placement^='top'] > .arrow {
          bottom: -6px;
        }
        
        &[data-popper-placement^='bottom'] > .arrow {
          top: -6px;
        }
        
        &[data-popper-placement^='left'] > .arrow {
          right: -6px;
        }
        
        &[data-popper-placement^='right'] > .arrow {
          left: -6px;
        }

        .line {
          margin-bottom: 5px;

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }

    button {
      display: flex;
      margin-left: 5px;
      padding: 8px;
    }
  }
}
