@import '../common/borders.scss';

.exh-header {
  width: 100%;
  padding: 5px;
  border-bottom: $border;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 22px;
  }

  .right {
    display: flex;
    align-items: center;

    .about {
      .info-button {
        &.active {
          color: $link-color;
        }
      }

      .tooltip {
        z-index: 1000;
        background-color: $bg-color;
        border: $border;
        border-radius: $border-radius;
        padding: 5px;
      }

      .arrow {
        background-color: red;
        z-index: 1001;
      }
    }

    button {
      padding: 4px 8px;
    }
  }
}
