@import './common.scss';

$bg-color: #fff;
$text-color: #222;
$border-color: #ccc;
$link-color: #1F8ACC;

$bg-color-m7: darken($bg-color, 7);
$bg-color-m10: darken($bg-color, 10);
$bg-color-m12: darken($bg-color, 12);
$bg-color-m15: darken($bg-color, 15);
$bg-color-m20: darken($bg-color, 20);
