.cl-button {
  padding: 5px;
  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;

  &:not([disabled]) {
    cursor: pointer;

    &:hover {
      background-color: $bg-color-m7;
    }
  }

  &.has-non-icon-content {
    .button-icon {
      margin-right: 8px;
    }
  }

  &[disabled] {
    color: $text-color-m30;
  }
}
