@mixin bottom-bar {
  flex-grow: 1;

  .bottom-bar {
    border-top: $border;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 120px;
    flex-shrink: 0;

    .header {
      padding: 5px;
      border-bottom: $border;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      min-height: 39px; // Empirically measured when nav is present

      .left {
        // TODO: Actually will need a component lib for ourselves, as well, yknow, right?
        button {
          margin-right: 5px;
          background-color: $bg-color;
          border: $border;
          border-radius: $border-radius;
          padding: 3px 7px;
          cursor: pointer;
          position: relative;
          
          &:hover {
            background-color: $bg-color-m7;
          }

          &.active {
            border-color: $link-color;
          }

          .has-unseen-indicator {
            width: 8px;
            height: 8px;
            position: absolute;
            top: -4px;
            right: -4px;
            border-radius: 5px;
            background-color: red;
          }
        }
      }

      .middle {
        align-self: center;

        .viewport-info-bar {
          align-self: center;
          display: flex;

          .dimensions-seperator {
            margin-left: 5px;
            margin-right: 5px;
            display: flex;
            align-items: center;
          }

          input {
            background-color: $bg-color;
            border: $border;
            border-radius: 0px;
            width: 50px;
            color: $text-color;
            padding: 2px 5px;

            -moz-appearance: textfield;

            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }

      .right {
        display: flex;
        align-items: center;

        input {
          cursor: pointer;
        }

        .header-buttons {
          align-self: stretch;

          button {
            height: 100%;
          }

          .unlock-viewport-button {
            padding: 5px 8px;

            &.active {
              color: $link-color;
            }
          }

          .toggle-collapse-button {
            padding: 5px 10px;
          }
        }
      }
    }

    .props, .event-log, .code {
      overflow: auto;
    }

    .props {
      padding: 5px;
    }

    .event-log {
      padding: 5px;
      flex-grow: 1;
      overflow-y: auto;

      .no-events {
        font-style: italic;
        color: #999;
      }

      .item {
        display: flex;

        .id {
          width: 50px;
        }
      }
    }

    .code {
      .path {
        margin-left: 10px;
        padding-bottom: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block;
        border-bottom: $border;
      }

      pre {
        margin-top: 0;
        background-color: $bg-color !important;
        padding: 0px !important;
        padding-left: 5px !important;
      }
    }

    &.collapsed {
      min-height: 0px;

      .exh-resizer {
        display: none;
      }

      .header {
        border-bottom: none;
      }
    }
  }
}
