@mixin bottom-bar {
  flex-grow: 1;

  .bottom-bar {
    border-top: $border;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 120px;
    flex-shrink: 0;

    .header {
      padding: 5px;
      border-bottom: $border;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;

      .left {
        // TODO: Actually will need a component lib for ourselves, as well, yknow, right?
        button {
          margin-right: 5px;
          background-color: $bg-color;
          border: $border;
          border-radius: $border-radius;
          padding: 3px 7px;
          cursor: pointer;
          position: relative;
          
          &:hover {
            background-color: $bg-color-m7;
          }

          &.active {
            border-color: $link-color;
          }

          .has-unseen-indicator {
            width: 8px;
            height: 8px;
            position: absolute;
            top: -4px;
            right: -4px;
            border-radius: 5px;
            background-color: red;
          }
        }
      }

      .right {
        display: flex;
        align-items: center;

        input {
          cursor: pointer;
        }

        .header-buttons {
          align-self: stretch;

          button {
            margin-left: 5px;
            padding: 5px 10px;
            cursor: pointer;
            background-color: $bg-color;
            border: none;
            border-radius: 5px;
            height: 100%;
      
            &:hover {
              background-color: $bg-color-m7;
            }
          }
        }
      }
    }

    .props, .event-log {
      overflow: auto;
    }

    .props {
      padding: 5px;
    }

    .event-log {
      padding: 5px;
      flex-grow: 1;
      overflow-y: auto;

      .no-events {
        font-style: italic;
        color: #999;
      }

      .item {
        display: flex;

        .id {
          width: 50px;
        }
      }
    }

    &.collapsed {
      min-height: 0px;

      .exh-resizer {
        display: none;
      }

      .header {
        border-bottom: none;
      }
    }
  }
}
