@import '../common/borders.scss';

@mixin component-exhibit {
  flex-grow: 1;

  .component-exhibit {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 0;
    min-width: 0;

    &.found {
      background-size: 5px 5px;
      background-image: radial-gradient(circle, lighten($color-text, 40) 1px, $color-background 1px);
    }

    &.no-path, &.not-found {
      color: #666;
    }

    .iframe-container {
      position: relative;
      max-width: 100%;
      max-height: 100%;

      iframe {
        border: $border;
        flex-grow: 0;
        background-color: $color-background;
        max-height: 100%;
      }
  
      .variant {
        margin-bottom: 10px;
  
        .name {
          border-bottom: $border;
          padding-bottom: 5px;
          margin-bottom: 10px;
        }
      }
    }

    &.viewport-size-change-disabled {
      padding: 0px;

      .iframe-container {

        width: 100%;
        height: 100%;

        iframe {
          border: none;
        }
      }
    }
  }
}
