@use './vertical-nav-bar.scss';
@use './component-exhibit.scss';
@use './bottom-bar.scss';

.exh-home {
  width: 100%;
  flex-grow: 1;
  display: flex;
  height: calc(100vh - 42px); // Screen minus header

  .vertical-nav-bar {
    @include vertical-nav-bar.vertical-nav-bar;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include component-exhibit.component-exhibit;
    @include bottom-bar.bottom-bar;
  }
}
