@use './navigator-side-bar.scss';
@use './component-exhibit.scss';
@use './bottom-bar.scss';

.exh-home {
  width: 100%;
  flex-grow: 1;
  display: flex;
  height: calc(100vh - 38px); // Screen minus header

  @include navigator-side-bar.navigator-side-bar;

  &>.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;

    @include component-exhibit.component-exhibit;
    @include bottom-bar.bottom-bar;
  }
}
