@use './vertical-nav-bar.scss';
@use './component-exhibit.scss';

.exh-home {
  width: 100%;
  flex-grow: 1;
  display: flex;
  height: calc(100vh - 42px); // Screen minus header

  .vertical-nav-bar {
    @include vertical-nav-bar.vertical-nav-bar;
  }

  .right {
    @include component-exhibit.component-exhibit;
  }
}
