@mixin navigator-side-bar {
  .navigator-side-bar-toggle-expanded-button {
    display: none;
  }

  .navigator-side-bar {
    border-right: $border;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 80vw;
    flex-shrink: 0;
    position: relative;
    min-width: 120px;

    &.focused {
      box-shadow: 0 0 0 1px $link-color inset;
    }

    .button-bar-1 {
      display: flex;
      justify-content: end;
      padding: 5px;
  
      button {
        margin-left: 5px;
      }
    }

    .nodes {
      display: flex;
      flex-direction: column;
      justify-content: start;
      overflow-y: auto;
      overflow-x: hidden;
      padding-bottom: 30px;
      margin-left: 5px;

      &>* {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        cursor: pointer;
        padding: 2px 5px;
        align-self: stretch;
        margin-right: 1px; // To avoid partially obscuring the pseudo-focus blue 1px border
  
        &>:first-child {
          margin-left: 3px;
        }
  
        i {
          width: 17px;
          flex-shrink: 0;
          margin-top: 3px;
          margin-right: 0;
        }

        &.variant-group, &.exhibit-group {
          text-align: left;
          border: none;
          background-color: $bg-color;
          border-radius: 0px;
  
          .text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        
        &.exhibit-group {
          letter-spacing: 2px;
          color: #777;
          font-style: italic;
          border-bottom: $border;
        }
  
        &.variant {
          text-decoration: none;

          &.active {
            background-color: $bg-color-m12 !important;
          }
  
          .name {
            color: $link-color;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      &>* {
        &:hover {
          background-color: $bg-color-m7;
        }

        &:focus, &:focus-visible, &:focus-within {
          box-shadow: 0 0 0 1px $link-color inset;
        }
      }

      .variant {
        i {
          color: $link-color;
        }
      }
    }
  }
}

@media only screen and (max-width: $tablet-max-width) {
  .navigator-side-bar-toggle-expanded-button {
    display: block !important;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 20px;
    z-index: 1000;
  }

  .navigator-side-bar {
    position: absolute !important;
    left: 5px;
    top: 40px;
    background-color: $bg-color;
    z-index: 1000;
    max-height: calc(100vh - 100px) !important;
    max-width: calc(100vw - 10px) !important;
    border: $border;
    box-shadow: 0px 0px 3px 3px $bg-color-m7;
    display: none !important;

    &.expanded {
      display: flex !important;
    }
  }
}