@import '../common/colors.scss';
@import '../common/borders.scss';

@mixin vertical-nav-bar-2 {
  .navigator-side-bar {
    border: 1px solid transparent;
    border-right: $border;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 80vw;
    flex-shrink: 0;
    position: relative;

    &.focused {
      border-color: $link-color;
    }

    .button-bar-1 {
      display: flex;
      justify-content: end;
      padding: 5px;
  
      button {
        margin-left: 5px;
        padding: 5px;
        cursor: pointer;
        background-color: $color-background;
        border: none;
        border-radius: 5px;
  
        &:hover {
          background-color: darken($color-background, 7);
        }
      }
    }

    .nodes {
      display: flex;
      flex-direction: column;
      justify-content: start;
      overflow-y: auto;
      overflow-x: hidden;
      padding-bottom: 30px;
      margin-right: 5px;
      margin-left: 5px;

      &>* {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        cursor: pointer;
        padding: 2px 5px;
        align-self: stretch;
  
        &>:first-child {
          margin-left: 3px;
        }
  
        i {
          width: 15px;
          flex-shrink: 0;
        }
  
        &:hover {
          background-color: darken($color-background, 7) !important;
        }
  
        &.exhibit-group {
          letter-spacing: 2px;
          color: #777;
          font-style: italic;
        }
  
        &.variant-group, &.exhibit-group {
          width: 100%;
          text-align: left;
          border: none;
          background-color: $color-background;
          box-sizing: border-box !important;
  
          .text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
  
        &.variant {
          text-decoration: none;
  
          .name {
            color: $link-color;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .exh-resizer {
      position: absolute;
      height: 100%;
      right: -5px;
      width: 9px;
      
      &:hover {
        background-color: #ccc;
        cursor: col-resize;
      }
    }
  }
}
