.cl-text-input {
  width: 200px;

  label {
    display: inline-block;
    margin-bottom: 5px;
    color: $text-color-m10;
  }
  
  input {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    border: $border;
    background-color: $bg-color;
    color: $text-color;
    padding-left: 5px;
    width: 100%;
  }
}
