.cl-select {
  max-width: 400px;
  width: 100%;

  label {
    display: inline-block;
    margin-bottom: 5px;
    color: $text-color-m10;
  }

  .text-and-button {
    display: flex;
    border: $border;
    background-color: $bg-color;

    input {
      flex-grow: 1;
      border: none !important;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: $bg-color;
      color: $text-color;
      padding-left: 5px;
    }
  
    button {
      padding: 5px 8px;
      border-radius: 0;
    }
  }
}

.cl-select-options {
  position: absolute;
  border: $border;
  background-color: $bg-color;
  visibility: hidden;
  z-index: 1;
  overflow-y: auto;

  .option {
    cursor: pointer;
    padding: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: $bg-color-m7;
    }
  }

  .no-options {
    padding: 4px;
    color: $text-color-m10;
    font-style: italic;
  }
}
