.cl-loading-spinner {
  border-radius: $border-radius;
  background-color: darken($bg-color, 10);
  padding: 5px 10px;
  width: 63px;

  .bars-container {
    display: inline-block;
    position: relative;
    width: 43px;
    height: 35px;
    border-radius: $border-radius;
  }
  .bars-container div {
    display: inline-block;
    position: absolute;
    width: 3px;
    background-color: $text-color;
    animation: bars-container 1.2s linear infinite;
  }
  .bars-container div:nth-child(1) {
    left: 0px;
    animation-delay: 0;
  }
  .bars-container div:nth-child(2) {
    left: 8px;
    animation-delay: 0.2s;
  }
  .bars-container div:nth-child(3) {
    left: 16px;
    animation-delay: 0.4s;
  }
  .bars-container div:nth-child(4) {
    left: 24px;
    animation-delay: 0.6s;
  }
  .bars-container div:nth-child(5) {
    left: 32px;
    animation-delay: 0.8s;
  }
  .bars-container div:nth-child(6) {
    left: 40px;
    animation-delay: 1s;
  }
  @keyframes bars-container {
    0% {
      top: 13px;
      bottom: 13px;
    }
    25%{
      top: 0px;
      bottom: 0px;
    }
    50% {
      top: 13px;
      bottom: 13px;
    }
    100% {
      top: 13px;
      bottom: 13px;
    }
  }
}
