@keyframes fade-in {
  to {
    opacity: 1;
  }
}


.cl-feature-status {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;

  button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #d14d00 !important;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    padding-top: 0px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 2px $bg-color-m10;
    display: flex;
    align-items: center;
    transition: box-shadow ease-out 0.2s;

    i {
      margin-left: 5px;
    }

    &:hover {
      box-shadow: 0px 0px 10px 4px $bg-color-m10;
    }
  }

  .tooltip {
    z-index: $click-tooltip-z-index;
    background-color: $bg-color;
    border: $border;
    border-radius: $border-radius;
    padding: 5px;
    max-width: 400px;

    opacity: 0;
    animation: fade-in 200ms ease-out forwards;

    p {
      margin-top: 1em;
      margin-bottom: 0;

      &:first-child {
        margin-top: 0;
      }
    }

    .cl-external-link {
      display: inline;
    }
  }
}
